*{
    margin: 0;
}
.tit {
    text-align: center;
    font-size: larger;
    margin: 3%;
    text-decoration: none;
    color: white;
}
#marca {
    font-size: 50px;
    font-weight: 700;
    font-family: monospace;
}
nav{
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100px;
    
}
#sonido {
    height: 18px;
    width: 100px;
    margin-left: 10px;
}
#signIn{
    border-radius: 131px 131px 131px 131px;
    height: 25px;
    width: 160px;
    margin: 8px;
    text-align: center;
    border: solid;
}
#singIn span {
    vertical-align: middle;
}
#derPrincipal{
    display: block;
    margin-left: 40px;
}
#derInline{
    display: inline;
}
#btnBusqueda {
    display: inline-flex;
    position: absolute;
    right:0;
    padding-right: 30px;

}
.temasHeader{
    display: flex;
    align-items: center;
}
.albunesHeader{
    float: right;
    margin-top: 50px;
    padding-right: 200px;
}
.tituloAlbum {
    text-align: right;
}
.tituloAlbum p {
    font-size: x-small;
}
#colores {
    padding-top: 10px;
    float: right;
    right: -140px;
    position: absolute;
}
#imgColores{
    width: 280px;
}
#imgAH-1{
    margin-left: 10%;
}
#imgAH-2{
    margin-right: 10%;
}
.imgAHeader{
    height: 80px;
    width: 80px;
}
#totalHeaderIzq{
    position: relative;
    float: right;
    overflow: hidden;
    height: 100%;
    width: 50%;
}
#totalHeaderDer{
    float: left;
    position: relative;
    height: 100%;
    width: 50%;
}
.generos {
    display: inline-block;
    border-radius: 131px 131px 131px 131px;
    background-color: #767276;
    height: 25px;
    width: 160px;
    margin: 8px;
    text-align: center;
    line-height: 25px;
}
.cuadros  {
    margin-left: 10px;
}
.derInline {
    display: inline-flex;
    margin: 40px;
}
.logo {
    padding-right: 15px;
}
#imgLogo {
    width: 280px;
}
.textoHeader {
    margin-left: 8%;
    font-size: x-small;
}
#contentIzq {
    height: 40%;
    width: 70%;
}
.row {
    width: 100%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.col {
   
}


#busqueda {
    border-radius: 131px 131px 131px 131px;
    background-color: rgba(255,255,255, 0.3);
    height: 25px;
    width: 190px;
    margin: 8px;
}
::placeholder {
    color: white;
    padding-left: 10px;
}
h4{
    font-size: large;
    font-weight: 100;
}


header {
    background-image: url(img/Grupo\ 22@2x.jpg);
    height: 400px;
    color: white;
    background-size: cover;
}